<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/assets/todo-list.js"></script>
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
  </head>
  <body>
    <h1>My To List</h1>
    <!-- form to submit new todo item -->
    <div class="" id="todo-table">
      <form class="" action="/todo" method="post">
        <input type="text" name="item" placeholder="Add new item..." required / >
        <button type="submit">Add Item</button>
      </form>
      <!-- todo item listing -->
      <ul>
        <% for(var i=0; i< todos.length; i++){ %>
          <li><%= todos[i].item %></li>
         <% } %>
      </ul>
    </div>

  </body>
</html>
